In [20]:
!ls ../data

game.csv                        game_teams_stats_very_small.csv
game_dummy.csv                  game_very_small.csv
game_small.csv                  team_info.csv
game_teams_stats.csv            team_info_very_small.csv
game_teams_stats_small.csv

In [3]:
import pandas as pd
import numpy as np

In [22]:
root = "../data/"
game = root+'game.csv'
small_game = root+'game_small.csv'
vs_game = root+'game_very_small.csv'

game_dummy = root + 'game_dummy.csv'

gt = root+'game_teams_stats.csv'
small_gt = root+'game_teams_stats_small.csv'
vs_gt = root+ 'game_teams_stats_very_small.csv'

team = root+'team_info.csv'

team_df = pd.read_csv(team)
team_df.index = team_df.team_id
team_ser = team_df['teamName']
team_dict = team_ser.to_dict()

game_df = pd.read_csv(game)
small_game_df = pd.read_csv(small_game)
vs_game_df = pd.read_csv(vs_game)

for df in [game_df,small_game_df, vs_game_df]:
    df['homeTeam'] = df['home_team_id'].map(team_dict)
    df['awayTeam'] = df['away_team_id'].map(team_dict)
    
gt_df = pd.read_csv(gt)
small_gt_df = pd.read_csv(small_gt)
vs_gt_df = pd.read_csv(vs_gt)

In [5]:
vs_game_df

,Unnamed: 0,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,homeTeam,awayTeam
0,0,2012030221,20122013,P,2013-05-16,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,Bruins,Rangers
1,1,2012030222,20122013,P,2013-05-19,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,Bruins,Rangers

In [42]:
to_keep = ['game_id', 'team_id', 'HoA', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'hits', 'pim', 'powerPlayOpportunities', 'powerPlayGoals',
       'faceOffWinPercentage', 'giveaways', 'takeaways', 'season', 'type',
       'date_time','venue_time_zone_tz','teamName', "home_goals","away_goals", 'homeTeam','awayTeam']

In [43]:
# gt_df.merge(game_df, on = "game_id"
#            ).merge(team_df, on = "team_id"
#            ).merge(team_df[['team_id','teamName']],
#                    left_on = "home_team_id", right_on = "team_id",
#                    suffixes = ("Home","_")
#            ).merge(team_df[['team_id','teamName']],
#                    left_on = "away_team_id", right_on = "team_id",
#                    suffixes = ("Away","_"))

In [44]:
gd = pd.read_csv(game_dummy)
gd.head()

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2012030221,20122013,P,2013-05-16,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
1,2012030222,20122013,P,2013-05-19,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
2,2012030223,20122013,P,2013-05-21,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
3,2012020666,20122013,R,2013-04-21,27,16,3,2,away win SO,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
4,2012020599,20122013,R,2013-04-11,12,15,1,3,home win REG,right,Verizon Center,/api/v1/venues/null,America/New_York,-4,EDT

In [45]:
dummy = gt_df[gt_df.game_id.isin(gd.game_id)].merge(game_df, on = "game_id").merge(team_df, on = "team_id")[to_keep]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: 'team_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [46]:
dummy

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,...,takeaways,season,type,date_time,venue_time_zone_tz,teamName,home_goals,away_goals,homeTeam,awayTeam
0,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,...,7,20122013,P,2013-05-16,EDT,Rangers,3,2,Bruins,Rangers
1,2012030222,3,away,False,REG,John Tortorella,2,37,33,11,...,4,20122013,P,2013-05-19,EDT,Rangers,5,2,Bruins,Rangers
2,2012030223,3,home,False,REG,John Tortorella,1,24,37,2,...,9,20122013,P,2013-05-21,EDT,Rangers,1,2,Rangers,Bruins
3,2012030221,6,home,True,OT,Claude Julien,3,48,51,6,...,5,20122013,P,2013-05-16,EDT,Bruins,3,2,Bruins,Rangers
4,2012030222,6,home,True,REG,Claude Julien,5,32,36,19,...,6,20122013,P,2013-05-19,EDT,Bruins,5,2,Bruins,Rangers
5,2012030223,6,away,True,REG,Claude Julien,2,34,28,6,...,7,20122013,P,2013-05-21,EDT,Bruins,1,2,Rangers,Bruins
6,2012030185,26,away,True,OT,Darryl Sutter,3,25,30,2,...,7,20122013,P,2013-05-09,CDT,Kings,2,3,Blues,Kings
7,2012030185,19,home,False,OT,Ken Hitchcock,2,36,41,4,...,7,20122013,P,2013-05-09,CDT,Blues,2,3,Blues,Kings
8,2015020782,19,home,True,REG,Ken Hitchcock,4,24,20,16,...,6,20152016,R,2016-02-07,CDT,Blues,4,1,Blues,Wild
9,2017030111,1,away,False,REG,John Hynes,2,31,36,2,...,4,20172018,P,2018-04-12,EDT,Devils,5,2,Lightning,Devils
10,2015020058,1,home,False,SO,John Hynes,1,32,35,4,...,5,20152016,R,2015-10-16,EDT,Devils,1,2,Devils,Sharks
11,2017030111,14,home,True,REG,Jon Cooper,5,32,35,4,...,10,20172018,P,2018-04-12,EDT,Lightning,5,2,Lightning,Devils
12,2015030416,5,away,True,REG,Mike Sullivan,3,27,26,4,...,6,20152016,P,2016-06-13,PDT,Penguins,1,3,Sharks,Penguins
13,2015030416,28,home,False,REG,Peter DeBoer,1,19,43,4,...,8,20152016,P,2016-06-13,PDT,Sharks,1,3,Sharks,Penguins
14,2015020058,28,away,True,SO,Peter DeBoer,1,34,26,14,...,4,20152016,R,2015-10-16,EDT,Sharks,1,2,Devils,Sharks
15,2012020599,12,away,False,REG,Kirk Muller,1,44,25,15,...,12,20122013,R,2013-04-11,EDT,Hurricanes,3,1,Capitals,Hurricanes
16,2012020599,15,home,True,REG,Adam Oates,3,31,26,13,...,9,20122013,R,2013-04-11,EDT,Capitals,3,1,Capitals,Hurricanes
17,2012020666,27,away,True,SO,Dave Tippett,2,31,36,8,...,7,20122013,R,2013-04-21,CDT,Coyotes,2,3,Blackhawks,Coyotes
18,2012020666,16,home,False,SO,Joel Quenneville,2,38,20,10,...,15,20122013,R,2013-04-21,CDT,Blackhawks,2,3,Blackhawks,Coyotes
19,2014020706,30,away,True,REG,Mike Yeo,2,29,13,8,...,6,20142015,R,2015-01-28,MDT,Wild,1,2,Oilers,Wild
20,2015020782,30,away,False,REG,Mike Yeo,1,39,19,14,...,3,20152016,R,2016-02-07,CDT,Wild,4,1,Blues,Wild
21,2014020706,22,home,False,REG,Todd Nelson,1,24,17,6,...,7,20142015,R,2015-01-28,MDT,Oilers,1,2,Oilers,Wild
22,2017020104,23,away,True,REG,Travis Green,4,41,7,6,...,4,20172018,R,2017-10-20,EDT,Canucks,2,4,Sabres,Canucks
23,2017020104,7,home,False,REG,Phil Housley,2,22,17,8,...,3,20172018,R,2017-10-20,EDT,Sabres,2,4,Sabres,Canucks

In [95]:
full_df = gt_df.merge(game_df, on = "game_id").merge(team_df, on = "team_id")[to_keep]
small_df = small_gt_df.merge(small_game_df, on = "game_id").merge(team_df, on = "team_id")[to_keep]
vs_df = vs_gt_df.merge(vs_game_df, on = "game_id").merge(team_df, on = "team_id")[to_keep]

df_names = ['full','small', 'vs']
dfs = [full_df,dummy, vs_df]

df_names = ["dummy"]
dfs = [dummy]

for df in dfs:
    df['opp_team'] = np.where(df['teamName'] == df['homeTeam'], df['awayTeam'],df['homeTeam'])
    df['opp_goal'] = np.where(df.HoA == "away", df.home_goals, df.away_goals)
    df['margin'] = df['goals'] - df['opp_goal']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: 'team_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: 'team_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: 'team_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

### highest_total_score

In [96]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('game_id')['goals'].sum().sort_values(ascending = False).head(1), '\n')

dummy
 game_id
2017030111    7
Name: goals, dtype: int64

### lowest_total_score

In [97]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('game_id')['goals'].sum().sort_values(ascending = True).head(1), '\n')

dummy
 game_id
2015020058    2
Name: goals, dtype: int64

### biggest_blowout

In [98]:
def find_diff(x):
    if len(x) == 1: return 0
    else: return abs(x[0]-x[1])
    
    
for name, df in zip(df_names, dfs):
    print(name,"\n",df.groupby('game_id')['goals'].unique().apply(find_diff).sort_values(ascending = False).head(1), "\n")

dummy
 game_id
2017030111    3
Name: goals, dtype: int64

### count_of_games_by_season

In [99]:
for name, df in zip(df_names, dfs):
    print(name,"\n",df.groupby('season')['goals'].count()/2, "\n")

dummy
 season
20122013    6.0
20142015    1.0
20152016    3.0
20172018    2.0
Name: goals, dtype: float64

### percentage_visitor_wins

In [100]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df[df.HoA == "away"].won.mean(),"\n")

dummy
 0.5833333333333334

### percentage_home_wins

In [101]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df[df.HoA == "home"].won.mean(),"\n")

dummy
 0.4166666666666667

 ### average_goals_per_game

In [102]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('game_id')['goals'].sum().mean(),"\n")

dummy
 4.583333333333333

### average_goals_by_season

In [103]:
for name, df in zip(df_names, dfs):
    print(name,"\n",df.groupby('season')['goals'].sum() /( df.groupby('season')['goals'].count()/2), "\n")

dummy
 season
20122013    4.666667
20142015    3.000000
20152016    3.666667
20172018    6.500000
Name: goals, dtype: float64

# League Stats

### count_of_teams

In [104]:
for name, df in zip(df_names, dfs):
    print(name,"\n",df['team_id'].unique().shape[0],"\n")

dummy
 16

### best_offense

In [105]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('teamName')['goals'].mean().sort_values(ascending = False).head(1), "\n")

dummy
 teamName
Lightning    5.0
Name: goals, dtype: float64

### worst_offense

In [106]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('teamName')['goals'].mean().sort_values(ascending = True).head(1), "\n")

dummy
 teamName
Hurricanes    1.0
Name: goals, dtype: float64

### worst_defense

In [107]:
for df in dfs:

SyntaxError: unexpected EOF while parsing (<ipython-input-107-585b0c3cbd3c>, line 2)

In [108]:
vs_df

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,...,takeaways,season,type,date_time,venue_time_zone_tz,teamName,home_goals,away_goals,homeTeam,awayTeam
0,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,...,7,20122013,P,2013-05-16,EDT,Rangers,3,2,Bruins,Rangers
1,2012030222,3,away,False,REG,John Tortorella,2,37,33,11,...,4,20122013,P,2013-05-19,EDT,Rangers,5,2,Bruins,Rangers
2,2012030221,6,home,True,OT,Claude Julien,3,48,51,6,...,5,20122013,P,2013-05-16,EDT,Bruins,3,2,Bruins,Rangers
3,2012030222,6,home,True,REG,Claude Julien,5,32,36,19,...,6,20122013,P,2013-05-19,EDT,Bruins,5,2,Bruins,Rangers

In [109]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('teamName')['opp_goal'].mean().sort_values(ascending = False).head(1), "\n")

dummy
 teamName
Sabres    4.0
Name: opp_goal, dtype: float64

### best_defense

In [110]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby('teamName')['opp_goal'].mean().sort_values(ascending = True).head(1), "\n")

dummy
 teamName
Capitals    1.0
Name: opp_goal, dtype: float64

### highest_scoring_home_team

In [111]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df[df.HoA == "home"].groupby("teamName")['goals'].mean().sort_values(ascending = False).head(1), "\n")

dummy
 teamName
Lightning    5
Name: goals, dtype: int64

### lowest_scoring_home_team

In [112]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df[df.HoA == "home"].groupby("teamName")['goals'].mean().sort_values(ascending = True).head(1), "\n")

dummy
 teamName
Devils    1
Name: goals, dtype: int64

### highest_scoring_visitor

In [113]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df[df.HoA == "away"].groupby("teamName")['goals'].mean().sort_values(ascending = False).head(1), "\n")

dummy
 teamName
Canucks    4.0
Name: goals, dtype: float64

### lowest_scoring_visitor

In [114]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df[df.HoA == "away"].groupby("teamName")['goals'].mean().sort_values(ascending = True).head(1), "\n")

dummy
 teamName
Hurricanes    1.0
Name: goals, dtype: float64

### winnigest_team

In [115]:
for name, df in zip(df_names, dfs):
    print(name,"\n", df.groupby("teamName")['won'].mean().sort_values(ascending = False).head(1), "\n")

dummy
 teamName
Penguins    1.0
Name: won, dtype: float64

### best_fans

In [116]:
for name, df in zip(df_names, dfs):
    home_win = df[df.HoA == "home"].groupby("teamName")['won'].mean().sort_index()
    away_win = df[df.HoA == "away"].groupby("teamName")['won'].mean().sort_index()
    
    print(name, "\n", (home_win-away_win).sort_values(ascending = False).head(1), "\n")

dummy
 teamName
Rangers    0.0
Name: won, dtype: float64

### worst_fans

**should be empty arrays**

In [117]:
for name, df in zip(df_names, dfs):
    home_win = df[df.HoA == "home"].groupby("teamName")['won'].mean().sort_index()
    away_win = df[df.HoA == "away"].groupby("teamName")['won'].mean().sort_index()
#     print(home_win)
#     print(away_win)
    home_minus_away = (home_win-away_win)
    
    print(name, "\n", home_minus_away[home_minus_away <0], "\n")

dummy
 teamName
Sharks   -1.0
Name: won, dtype: float64

# Team Statistics

### team_info

In [118]:
for name, df in zip(df_names, dfs):
    print(name,"\n", pd.concat([df.groupby("teamName")['head_coach'].unique(),df.groupby("teamName")['teamName'].unique()], axis = 1).to_dict(), "/n")

dummy
 {'head_coach': {'Blackhawks': array(['Joel Quenneville'], dtype=object), 'Blues': array(['Ken Hitchcock'], dtype=object), 'Bruins': array(['Claude Julien'], dtype=object), 'Canucks': array(['Travis Green'], dtype=object), 'Capitals': array(['Adam Oates'], dtype=object), 'Coyotes': array(['Dave Tippett'], dtype=object), 'Devils': array(['John Hynes'], dtype=object), 'Hurricanes': array(['Kirk Muller'], dtype=object), 'Kings': array(['Darryl Sutter'], dtype=object), 'Lightning': array(['Jon Cooper'], dtype=object), 'Oilers': array(['Todd Nelson'], dtype=object), 'Penguins': array(['Mike Sullivan'], dtype=object), 'Rangers': array(['John Tortorella'], dtype=object), 'Sabres': array(['Phil Housley'], dtype=object), 'Sharks': array(['Peter DeBoer'], dtype=object), 'Wild': array(['Mike Yeo'], dtype=object)}, 'teamName': {'Blackhawks': array(['Blackhawks'], dtype=object), 'Blues': array(['Blues'], dtype=object), 'Bruins': array(['Bruins'], dtype=object), 'Canucks': array(['Canucks'], dtype=object), 'Capitals': array(['Capitals'], dtype=object), 'Coyotes': array(['Coyotes'], dtype=object), 'Devils': array(['Devils'], dtype=object), 'Hurricanes': array(['Hurricanes'], dtype=object), 'Kings': array(['Kings'], dtype=object), 'Lightning': array(['Lightning'], dtype=object), 'Oilers': array(['Oilers'], dtype=object), 'Penguins': array(['Penguins'], dtype=object), 'Rangers': array(['Rangers'], dtype=object), 'Sabres': array(['Sabres'], dtype=object), 'Sharks': array(['Sharks'], dtype=object), 'Wild': array(['Wild'], dtype=object)}} /n

### best_season

In [119]:
for name, df in zip(df_names, dfs):
    data = df.groupby(["teamName", "season"])["won"].mean().unstack().T
    
    print(name,"\n")
    for col in data:
        print("teamName:", col, "best season", data[col].sort_values(ascending = False).head(1).index[0])
          
    print("\n")

dummy

teamName: Blackhawks best season 20122013
teamName: Blues best season 20152016
teamName: Bruins best season 20122013
teamName: Canucks best season 20172018
teamName: Capitals best season 20122013
teamName: Coyotes best season 20122013
teamName: Devils best season 20172018
teamName: Hurricanes best season 20122013
teamName: Kings best season 20122013
teamName: Lightning best season 20172018
teamName: Oilers best season 20142015
teamName: Penguins best season 20152016
teamName: Rangers best season 20122013
teamName: Sabres best season 20172018
teamName: Sharks best season 20152016
teamName: Wild best season 20142015

### worst_season

In [120]:
for name, df in zip(df_names, dfs):
    data = df.groupby(["teamName", "season"])["won"].mean().unstack().T
    
    print(name,"\n")
    for col in data:
        print("teamName:", col, "worst season", data[col].sort_values(ascending = True).head(1).index[0])
          
    print("\n")

dummy

teamName: Blackhawks worst season 20122013
teamName: Blues worst season 20122013
teamName: Bruins worst season 20122013
teamName: Canucks worst season 20172018
teamName: Capitals worst season 20122013
teamName: Coyotes worst season 20122013
teamName: Devils worst season 20152016
teamName: Hurricanes worst season 20122013
teamName: Kings worst season 20122013
teamName: Lightning worst season 20172018
teamName: Oilers worst season 20142015
teamName: Penguins worst season 20152016
teamName: Rangers worst season 20122013
teamName: Sabres worst season 20172018
teamName: Sharks worst season 20152016
teamName: Wild worst season 20152016

### average_win_percentage

In [121]:
for name, df in zip(df_names, dfs):
    data = df.groupby(["teamName", "season"])["won"].mean().unstack().T
    
    print(name,"\n")
    for col in data:
        print("teamName:", col, "avg win pct", round(data[col].mean(),4))
          
    print("\n")

dummy

teamName: Blackhawks avg win pct 0.0
teamName: Blues avg win pct 0.5
teamName: Bruins avg win pct 1.0
teamName: Canucks avg win pct 1.0
teamName: Capitals avg win pct 1.0
teamName: Coyotes avg win pct 1.0
teamName: Devils avg win pct 0.0
teamName: Hurricanes avg win pct 0.0
teamName: Kings avg win pct 1.0
teamName: Lightning avg win pct 1.0
teamName: Oilers avg win pct 0.0
teamName: Penguins avg win pct 1.0
teamName: Rangers avg win pct 0.0
teamName: Sabres avg win pct 0.0
teamName: Sharks avg win pct 0.5
teamName: Wild avg win pct 0.5

### most_goals_scored

In [122]:
for name, df in zip(df_names, dfs):
    data = df.groupby(["teamName", "season"])["goals"].max().unstack().T
    
    print(name,"\n")
    for col in data:
        print("teamName:", col, "most_goals", data[col].sort_values(ascending = False).iloc[0])
          
    print("\n")

dummy

teamName: Blackhawks most_goals 2.0
teamName: Blues most_goals 4.0
teamName: Bruins most_goals 5.0
teamName: Canucks most_goals 4.0
teamName: Capitals most_goals 3.0
teamName: Coyotes most_goals 2.0
teamName: Devils most_goals 2.0
teamName: Hurricanes most_goals 1.0
teamName: Kings most_goals 3.0
teamName: Lightning most_goals 5.0
teamName: Oilers most_goals 1.0
teamName: Penguins most_goals 3.0
teamName: Rangers most_goals 2.0
teamName: Sabres most_goals 2.0
teamName: Sharks most_goals 1.0
teamName: Wild most_goals 2.0

### fewest_goals_scored

In [123]:
for name, df in zip(df_names, dfs):
    data = df.groupby(["teamName", "season"])["goals"].min().unstack().T
    
    print(name,"\n")
    for col in data:
        print("teamName:", col, "fewest goals", data[col].sort_values(ascending = True).iloc[0])
          
    print("\n")

dummy

teamName: Blackhawks fewest goals 2.0
teamName: Blues fewest goals 2.0
teamName: Bruins fewest goals 2.0
teamName: Canucks fewest goals 4.0
teamName: Capitals fewest goals 3.0
teamName: Coyotes fewest goals 2.0
teamName: Devils fewest goals 1.0
teamName: Hurricanes fewest goals 1.0
teamName: Kings fewest goals 3.0
teamName: Lightning fewest goals 5.0
teamName: Oilers fewest goals 1.0
teamName: Penguins fewest goals 3.0
teamName: Rangers fewest goals 1.0
teamName: Sabres fewest goals 2.0
teamName: Sharks fewest goals 1.0
teamName: Wild fewest goals 1.0

### favorite_opponent

name of opponent with lowest win pct agains team

In [124]:
for df,name in zip(dfs,df_names):
    print(name)
    data = df.groupby(["teamName","opp_team"])["won"].mean().unstack().T

    for col in data:
        print("team_name: ", col, "fav_opp:", data[col].sort_values(ascending = False).index[0])
        
    print("\n\n")

dummy
team_name:  Blackhawks fav_opp: Coyotes
team_name:  Blues fav_opp: Wild
team_name:  Bruins fav_opp: Rangers
team_name:  Canucks fav_opp: Sabres
team_name:  Capitals fav_opp: Hurricanes
team_name:  Coyotes fav_opp: Blackhawks
team_name:  Devils fav_opp: Sharks
team_name:  Hurricanes fav_opp: Capitals
team_name:  Kings fav_opp: Blues
team_name:  Lightning fav_opp: Devils
team_name:  Oilers fav_opp: Wild
team_name:  Penguins fav_opp: Sharks
team_name:  Rangers fav_opp: Bruins
team_name:  Sabres fav_opp: Canucks
team_name:  Sharks fav_opp: Devils
team_name:  Wild fav_opp: Oilers

### rival
name of opponent with higest win pct against team

In [125]:
for df,name in zip(dfs,df_names):
    print(name)
    data = df.groupby(["teamName","opp_team"])["won"].mean().unstack().T

    for col in data:
        print("team_name: ", col, "rival:", data[col].sort_values(ascending = True).index[0])
        
    print("\n\n")

dummy
team_name:  Blackhawks rival: Coyotes
team_name:  Blues rival: Kings
team_name:  Bruins rival: Rangers
team_name:  Canucks rival: Sabres
team_name:  Capitals rival: Hurricanes
team_name:  Coyotes rival: Blackhawks
team_name:  Devils rival: Lightning
team_name:  Hurricanes rival: Capitals
team_name:  Kings rival: Blues
team_name:  Lightning rival: Devils
team_name:  Oilers rival: Wild
team_name:  Penguins rival: Sharks
team_name:  Rangers rival: Bruins
team_name:  Sabres rival: Canucks
team_name:  Sharks rival: Penguins
team_name:  Wild rival: Blues

### biggest_team_blowout
biggest diff between team and opponent goals in WIN for given team

In [126]:
data = full_df[full_df.won == True].groupby('teamName')['margin'].max()

KeyError: 'Column not found: margin'

In [127]:
for df,name in zip(dfs,df_names):
    print(name)
    print(df[df.won == True].groupby('teamName')['margin'].max())
    
    print("\n\n")

dummy
teamName
Blues        3
Bruins       3
Canucks      2
Capitals     2
Coyotes      0
Kings        1
Lightning    3
Penguins     2
Sharks       0
Wild         1
Name: margin, dtype: int64

### worst_loss
biggest LOSS blowout

In [128]:
for df,name in zip(dfs,df_names):
    print(name)
    print(df[df.won == False].groupby('teamName')['margin'].min())
    
    print("\n\n")

dummy
teamName
Blackhawks   -1
Blues        -1
Devils       -3
Hurricanes   -2
Oilers       -1
Rangers      -3
Sabres       -2
Sharks       -2
Wild         -3
Name: margin, dtype: int64

### head_to_head
record (as hash-- win/loss) against specific opponent

In [129]:
for df,name in zip(dfs,df_names):
    print(name)
    
    data = df.groupby(['teamName','opp_team'])['won'].agg([len,sum])
    data['wins'] = data['sum']
    data['losses'] = data['len'] - data['sum']

    print(data[['wins','losses']].T.to_dict())
    
    print("\n\n")

dummy
{('Blackhawks', 'Coyotes'): {'wins': 0.0, 'losses': 1.0}, ('Blues', 'Kings'): {'wins': 0.0, 'losses': 1.0}, ('Blues', 'Wild'): {'wins': 1.0, 'losses': 0.0}, ('Bruins', 'Rangers'): {'wins': 3.0, 'losses': 0.0}, ('Canucks', 'Sabres'): {'wins': 1.0, 'losses': 0.0}, ('Capitals', 'Hurricanes'): {'wins': 1.0, 'losses': 0.0}, ('Coyotes', 'Blackhawks'): {'wins': 1.0, 'losses': 0.0}, ('Devils', 'Lightning'): {'wins': 0.0, 'losses': 1.0}, ('Devils', 'Sharks'): {'wins': 0.0, 'losses': 1.0}, ('Hurricanes', 'Capitals'): {'wins': 0.0, 'losses': 1.0}, ('Kings', 'Blues'): {'wins': 1.0, 'losses': 0.0}, ('Lightning', 'Devils'): {'wins': 1.0, 'losses': 0.0}, ('Oilers', 'Wild'): {'wins': 0.0, 'losses': 1.0}, ('Penguins', 'Sharks'): {'wins': 1.0, 'losses': 0.0}, ('Rangers', 'Bruins'): {'wins': 0.0, 'losses': 3.0}, ('Sabres', 'Canucks'): {'wins': 0.0, 'losses': 1.0}, ('Sharks', 'Devils'): {'wins': 1.0, 'losses': 0.0}, ('Sharks', 'Penguins'): {'wins': 0.0, 'losses': 1.0}, ('Wild', 'Blues'): {'wins': 0.0, 'losses': 1.0}, ('Wild', 'Oilers'): {'wins': 1.0, 'losses': 0.0}}

### seasonal_summary

for each season that team has played, has hash with two keys "preseason" and "postseason" pointing to hash with win_percentage, total_goals_scored, total_goals_against, average_goals_scored, averate_goals_against

In [130]:
for df,name in zip(dfs,df_names):
    print(name)
    gb = df.groupby(['teamName','season',"type"])
    wp = pd.DataFrame(gb['won'].mean())
    wp.columns = ['win_pct']

    gol = gb['goals'].agg([sum,np.mean])
    gol.columns = ["tot_goals","avg_goals"]

    ga = gb['opp_goal'].agg([sum,np.mean])
    ga.columns = ["tot_ga","gaa"]
    ga

    print(pd.concat([wp,gol,ga], axis = 1))
    print("\n\n")

dummy
                          win_pct  tot_goals  avg_goals  tot_ga       gaa
teamName   season   type
Blackhawks 20122013 R       False          2   2.000000       3  3.000000
Blues      20122013 P       False          2   2.000000       3  3.000000
           20152016 R        True          4   4.000000       1  1.000000
Bruins     20122013 P        True         10   3.333333       5  1.666667
Canucks    20172018 R        True          4   4.000000       2  2.000000
Capitals   20122013 R        True          3   3.000000       1  1.000000
Coyotes    20122013 R        True          2   2.000000       2  2.000000
Devils     20152016 R       False          1   1.000000       2  2.000000
           20172018 P       False          2   2.000000       5  5.000000
Hurricanes 20122013 R       False          1   1.000000       3  3.000000
Kings      20122013 P        True          3   3.000000       2  2.000000
Lightning  20172018 P        True          5   5.000000       2  2.000000
Oilers     20142015 R       False          1   1.000000       2  2.000000
Penguins   20152016 P        True          3   3.000000       1  1.000000
Rangers    20122013 P       False          5   1.666667      10  3.333333
Sabres     20172018 R       False          2   2.000000       4  4.000000
Sharks     20152016 P       False          1   1.000000       3  3.000000
                    R        True          1   1.000000       1  1.000000
Wild       20142015 R        True          2   2.000000       1  1.000000
           20152016 R       False          1   1.000000       4  4.000000

# Season Statistics
### biggest_bust

biggest decrease between pre-season and regular season win pct  

ONly possible on full data -- no regular season data in small and very_small data

In [131]:

print("full")
data = full_df.groupby(['teamName','season','type'])['won'].mean()
to_df = []
for idx in data.index:
    to_df.append([*idx, data[idx]])
data = pd.DataFrame(to_df, columns = ["teamName","season","type","wp"])
p_team= p_season= p_gtype= p_wp = 0
diffs = []
for idx in data.index:

    team, season, g_type, wp = data.loc[idx,:]
    if team == p_team:
        if season == p_season:
            if g_type == "P":
                post_wp = wp
                reg_wp = p_wp
            else:
                post_wp = p_wp
                reg_wp = wp

            diffs.append([team, season, post_wp-reg_wp])
    p_team = team; p_season = season; p_gtype = g_type; p_wp = wp

aggd = pd.DataFrame(diffs, columns = ['team','season', 'post_minus_reg_win_pct'])
gb = aggd.groupby(['season', 'team'])['post_minus_reg_win_pct'].max().unstack().T

for col in gb:
    sort_pct = gb[col].sort_values(ascending= True)
    print("Season:", col, "Biggest bust team", sort_pct.index[0])

print("\n\n")

full
Season: 20122013 Biggest bust team Canucks
Season: 20132014 Biggest bust team Lightning
Season: 20142015 Biggest bust team Jets
Season: 20152016 Biggest bust team Kings
Season: 20162017 Biggest bust team Blackhawks
Season: 20172018 Biggest bust team Kings

### biggest_surprise
biggest increase between pre-season and regular season

In [132]:
print("full")
data = full_df.groupby(['teamName','season','type'])['won'].mean()
to_df = []
for idx in data.index:
    to_df.append([*idx, data[idx]])
data = pd.DataFrame(to_df, columns = ["teamName","season","type","wp"])
p_team= p_season= p_gtype= p_wp = 0
diffs = []
for idx in data.index:

    team, season, g_type, wp = data.loc[idx,:]
    if team == p_team:
        if season == p_season:
            if g_type == "P":
                post_wp = wp
                reg_wp = p_wp
            else:
                post_wp = p_wp
                reg_wp = wp

            diffs.append([team, season, post_wp-reg_wp])
    p_team = team; p_season = season; p_gtype = g_type; p_wp = wp

aggd = pd.DataFrame(diffs, columns = ['team','season', 'post_minus_reg_win_pct'])
gb = aggd.groupby(['season', 'team'])['post_minus_reg_win_pct'].max().unstack().T

for col in gb:
    sort_pct = gb[col].sort_values(ascending= False)
    print("Season:", col, "Biggest surprise team", sort_pct.index[0])

print("\n\n")

full
Season: 20122013 Biggest surprise team Sharks
Season: 20132014 Biggest surprise team Kings
Season: 20142015 Biggest surprise team Blackhawks
Season: 20152016 Biggest surprise team Lightning
Season: 20162017 Biggest surprise team Predators
Season: 20172018 Biggest surprise team Capitals

### winningest_coach
coach with best win pct for the season

In [133]:
for df,name in zip(dfs,df_names):
    print(name)
    data = df.groupby(['season','head_coach'])['won'].mean().unstack().T

    for col in data:
        print("season: ", col, "winingest_coach: ", data[col].sort_values(ascending = False).index[0])
        
    print("\n\n")

dummy
season:  20122013 winingest_coach:  Dave Tippett
season:  20142015 winingest_coach:  Mike Yeo
season:  20152016 winingest_coach:  Mike Sullivan
season:  20172018 winingest_coach:  Travis Green

### worst_coach
worst win pct for season

In [134]:
for df,name in zip(dfs,df_names):
    print(name)
    data = df.groupby(['season','head_coach'])['won'].mean().unstack().T

    for col in data:
        print("season: ", col, "worst_coach: ", data[col].sort_values(ascending = True).index[0])
        
    print("\n\n")

dummy
season:  20122013 worst_coach:  Joel Quenneville
season:  20142015 worst_coach:  Todd Nelson
season:  20152016 worst_coach:  John Hynes
season:  20172018 worst_coach:  John Hynes

### most accurate_team
team with best ratio of shots to goal for season

In [135]:
for df,name in zip(dfs,df_names):
    print(name)
    data = df.groupby(['season','teamName'])[['shots','goals']].sum()
    data['shoot_pct'] = data['goals']/data['shots']
    us = data['shoot_pct'].unstack().T

    for col in us:
        print("season: ", col, "best_shooting: ", us[col].sort_values(ascending = False).index[0])

    print("\n\n")

dummy
season:  20122013 best_shooting:  Kings
season:  20142015 best_shooting:  Wild
season:  20152016 best_shooting:  Blues
season:  20172018 best_shooting:  Lightning

### least_accurate_team
team with worst ratio of shots to goals for season

In [136]:
for df,name in zip(dfs,df_names):
    print(name)
    data = df.groupby(['season','teamName'])[['shots','goals']].sum()
    data['shoot_pct'] = data['goals']/data['shots']
    us = data['shoot_pct'].unstack().T

    for col in us:
        print("season: ", col, "worst_shooting: ", us[col].sort_values(ascending = True).index[0])

    print("\n\n")

dummy
season:  20122013 worst_shooting:  Hurricanes
season:  20142015 worst_shooting:  Oilers
season:  20152016 worst_shooting:  Wild
season:  20172018 worst_shooting:  Devils

### most_hits

team with most hits in season

In [137]:
for df,name in zip(dfs,df_names):
    print(name)
    us = df.groupby(['season','teamName'])['hits'].sum().unstack().T


    for col in us:
        print("season: ", col, "most_hits: ", us[col].sort_values(ascending = False).index[0])

    print("\n\n")

dummy
season:  20122013 most_hits:  Bruins
season:  20142015 most_hits:  Oilers
season:  20152016 most_hits:  Sharks
season:  20172018 most_hits:  Devils

### least_hits
team with least hits in season

In [138]:
for df,name in zip(dfs,df_names):
    print(name)
    us = df.groupby(['season','teamName'])['hits'].sum().unstack().T


    for col in us:
        print("season: ", col, "least_hits: ", us[col].sort_values(ascending = True).index[0])

    print("\n\n")

dummy
season:  20122013 least_hits:  Blackhawks
season:  20142015 least_hits:  Wild
season:  20152016 least_hits:  Wild
season:  20172018 least_hits:  Canucks

### power_play_goal_pct
pct of goals that were ppg for season (rounded to 100th)

In [139]:
for df,name in zip(dfs,df_names):
    print(name)

    gb = df.groupby("season")[['goals','powerPlayGoals']].sum()
    gb['pct_ppg'] = gb['powerPlayGoals']/gb['goals']
    print(gb['pct_ppg'])
    
    print("\n\n")

dummy
season
20122013    0.214286
20142015    0.000000
20152016    0.545455
20172018    0.153846
Name: pct_ppg, dtype: float64